body{
	margin: 0 auto;
	font-family: "Forte Normal", "Comic Sans MS", Arial;
	background-color: #00ffff;
  width: 100%;
  display: grid;
}





#container1,#container2,
#container3,#container4,
#container5{
   	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;    
}

#container1{
    background-image: url("../../Imagenes/containerAlfajores.jpg");
}

#container2{
    background-image: url("../../Imagenes/containerCubanitos.jpg");
}

#container3{
    background-image: url("../../Imagenes/containerTartaDeCoco.jpg");
}

#container4{
    background-image: url("../../Imagenes/containerCubanitorta.jpg");
}

#container5{
    background-image: url("../../Imagenes/containerColores.jpg");
}


.parrafo{
	font-size: 2em;
	text-align: center;
	color:white;
  display: none;	 
  margin-top: 30%;  
  opacity: 0;
}

h1{
  font-size: 3em;
  text-align: center;
}

@keyframes parrafo {
    from 
    {
      margin-top: 30%;      
    }
    to 
    {
      margin-top: 33%;      
    }
}

input{
	border-radius: 1em;
	background-color: transparent;
	border-color: white;
	text-align: center;
	color: white;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  font-size: 1em;
  width: 40%;
}

input:focus ,input:hover,button:hover{
  background: #f293c1;
  outline: none;
}

button{
	border-radius: 1em;
	background-color: transparent;/*#f293c1;*/
	border-color: white;/*#F22562;*/
	text-align: center;
	color: white;
  font-size: 1em;  	
  width: 5em;
  outline: none;
  cursor:pointer; cursor: hand;	
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  }


.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
}

.scrollup:hover,.scrollup:focus,.scrollup::before {
  content: none;
  transform-origin: none;
  transform: none;
}



@media only screen and (min-width: 200px)
{
  .parrafo{
  font-size: 1em;
  }

}

@media only screen and (min-width: 500px)
{

}

@media only screen and (min-width: 800px)
{
  .parrafo{
  font-size: 2em;
  }


}


@media only screen and (min-width: 1000px)
{

}
