  body{  
    background: url("../../Imagenes/fondo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
    color:white;
    font-family: "Forte Normal", "Comic Sans MS", Arial;
    overflow-y: scroll;
  }


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.agregar:hover,.eliminar:hover{
    cursor: pointer;
}


  table{
    width: 100%;
  }

  th{
    text-align: center;
  }

  .fstMultipleMode .fstQueryInputExpanded {
    padding-top: 0;
    padding-bottom: 0;
  }

.table-responsive{
    overflow-y: hidden;
  }

.fstElement .fstToggleBtn{
    font-size: 1rem !important;
}

.fstElement{
    border-radius: 5px;
}

.fstMultipleMode .fstControls{
    padding: none !important;    
    height: 38px;
    overflow-y: scroll;
}

.fstToggleBtn{
    height: 38px;
}

.fstResults{
    position: relative !important;
}

.fstSingleMode .fstControls{
    position: relative !important;   
}



  .texto{
    font-weight: bold;
    font-size: 1.5em;
  }

  .imagen{
    text-align: center; 
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 30%;
    vertical-align: middle;
    width: 40%;
    height: 40%;
  }

.moneda{
    vertical-align: middle;
    font-weight: bold;        
}

    .imagen-fila{
    text-align: center; 
    margin: 0 auto;
    vertical-align: middle;
    width: 38px;
    height: 38px;
  }


.aparece{
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
 

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
