html,body,header{
    font-family: "Forte Normal", "Comic Sans MS", Arial;    
    width: 100%;
    margin: 0;
}

header{
    margin-bottom: 3em;
    vertical-align: middle;  
    height: 10em;
    display: grid;
    position: relative;    
    width: 80%;
}


#menuPrincipal{
position: relative;
margin: 2em;
grid-column: 7/7;
grid-row: 1;
margin-left: 25%;
}


#logo{
position: relative;
margin: 2em;
width:200px;
height:150px;
-webkit-background-size: cover;  
background-size:100% 100%;
grid-column: 1/1;
grid-row: 1;    
vertical-align: middle;
}



.a-ref:link { 
    color: #d43240;
}
.a-ref:visited  {
	color: #64db70;
}



.lista {
   list-style: none;
   vertical-align: middle;
   margin-bottom: 5%;
   margin-top: 5%;
   margin-left: 5%;
}

.lista-item {
    display: inline-block;
    vertical-align: middle;
}
.a-ref:hover, .a-ref:focus, .a-ref:active {
    color: #e2515e;
    text-decoration: none;
    outline: none;
}


 
.a-ref {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
.a-ref::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
.a-ref:active::before {
    background-color: #000;
}
.a-ref:hover::before, .a-ref:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.icono{
width: 50px;
height: 50px;
vertical-align: middle;   
}

#menu-responsive{
    display: none;
}







@media only screen and (min-width: 200px)
{
    header{
    margin-bottom: 0;
    vertical-align: middle;  
    height: 10em;
    display: block;    
    width: 100%;
    }

    #logo {
        width:50%;
        margin-left: 25%;
        margin-right: 25%;      
        margin-bottom: 0;
        margin-top: 0; 
    }

    #menuPrincipal
    {
        display: none;        
    }

    #menu-responsive{
        display: block;
    }

    .nav-responsive {
        width:80%;
        height:100%;
        left:-100%;
        margin:0;
        position: absolute;
    }

    .li-responsive {
        display:block;
        float:none;
        border-bottom:1px solid rgba(255,255,255, .3);
        width: 35%;
    }

    .menu_bar {
    display:block;
    width:100%;
    background:transparent;
    text-align: center;
  }

  .menu_bar .bt-menu {
    display:block;
    padding:20px;
    background:transparent;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .menu_bar span {
    float:right;
    font-size:40px;
  }

}

@media only screen and (min-width: 500px)
{

    #logo {
        width:30%;
        margin-left: 35%;
        margin-right: 35%;      
        margin-bottom: 0;
        margin-top: 0; 
    }

    #menuPrincipal
    {
        display: none;        
    }

    #menu-responsive{
        display: block;
    }

    .nav-responsive {
        position: absolute;
    }
}


@media only screen and (min-width: 800px)
{
    header{
    margin-bottom: 3em;
    vertical-align: middle;  
    height: 10em;
    display: grid;
    position: relative;    
    width: 80%;
    }

    .lista
    {
        margin-left: 25%;
    }


    #menuPrincipal{
        display: block;
        float: right;
        position: absolute;
        z-index: 100;
        width: 100%;
        margin-left: 2%;
    }

    #logo{
        margin: 2em;
        width: 200px;
        margin-left: 1em;
    }

    #menu-responsive{
        display: none;
    }   
}


@media only screen and (min-width: 1000px)
{
    .lista
    {
        margin-left: 25%;
        float: right;
    }

    #menuPrincipal{

        margin-left: 20%;
    }

  
}


@media only screen and (min-width: 1200px)
{
}
