  body{  
    background: url("../../Imagenes/fondo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
    color:white;
    font-family: "Forte Normal", "Comic Sans MS", Arial;
  }
  
  


  #Nosotros {
    margin:5em;   
    position: absolute;     
  }

  p{
    font-weight: bold;
    font-size: 1.5em;
  }




.aparece{
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


@media only screen and (min-width: 200px)
{
  #Nosotros {
    margin:2em;  
    margin-top: 4em; 
  }
}

@media only screen and (min-width: 500px)
{

}

@media only screen and (min-width: 800px)
{
  #Nosotros {
    margin:3em;   
  }

}


@media only screen and (min-width: 1000px)
{

}




